/*
 * DTS file for TSARV5 multicpu on SoCLib
 */

/dts-v1/;

/include/ "skeleton_soclib.dtsi"
/include/ "cpu_multi.dtsi"
/include/ "freq_soclib.dtsi"

/ {
	model = "UPMC/LIP6/SoC - Tsar v5 multicpu SoCLib";
	compatible = "tsar,v5_soclib", "tsar,multicpu_v5_soclib";

	chosen {
		/* the day we have a uart8250 compatible component, we can use
		 * the earlycon param to get earlyprintk */
		/* bootargs = "earlycon=uart8250,mmio,0x00000000"; */

		/* this is for maximum debug */
		/* bootargs = "ignore_loglevel initcall_debug"; */

		/* display console in both framebuffer and tty (the last one
		 * becomes the default one) */
		bootargs = "console=tty0 console=ttyVTTY0 earlyprintk";
	};

	vci {
		icu: icu {
			compatible = "soclib,vci_xicu";
			reg = <0x0 0x10000000 0x0 0x1000>;
		};

		timer {
			compatible = "soclib,vci_xicu_timer";
		};

		blockdevice {
			compatible = "tsar,vci_block_device_tsar_v5";
			reg = <0x0 0x1c000000 0x0 0x40>;
			interrupts = <1>;
		};

		memcache {
			compatible = "tsar,memcache_v5";
			interrupts = <2>;
		};
	};
};
