/*
 * DTS file for TSARV4 monocpu on SoCLib
 */

/dts-v1/;

/include/ "skeleton_soclib.dtsi"
/include/ "cpu_mono.dtsi"
/include/ "freq_soclib.dtsi"

/ {
	model = "UPMC/LIP6/SoC - Tsar v4 monocpu SoCLib";
	compatible = "tsar,v4_soclib", "tsar,monocpu_v4_soclib";

	chosen {
		/* the day we have a uart8250 compatible component, we can use
		 * the earlycon param to get earlyprintk */
		/* bootargs = "earlycon=uart8250,mmio,0x00000000"; */

		/* this is for maximum debug */
		/* bootargs = "ignore_loglevel initcall_debug"; */

		/* display console in both framebuffer and tty (the last one
		 * becomes the default one) */
		bootargs = "console=tty0 console=ttyVTTY0 earlyprintk";
	};

	vci {
		icu: icu {
			/* the vci_icu is a N->1 interrupt controller */
			compatible = "soclib,vci_icu";
			reg = <0x0 0x10000000 0x0 0x14>;
		};

		timer {
			compatible = "soclib,vci_timer";
			reg = <0x0 0x18000000 0x0 0x10>;
			interrupts = <1>;
		};

		blockdevice {
			compatible = "tsar,vci_block_device_tsar_v4";
			reg = <0x0 0x1c000000 0x0 0x20>;
			interrupts = <2>;
		};
	};
};
