CONFIG_BLK_DEV_INITRD=y
CONFIG_HZ_100=y
# CONFIG_COMPACTION is not set
CONFIG_KERNEL_LZMA=y
# CONFIG_SWAP is not set
CONFIG_TINY_RCU=y
CONFIG_EXPERT=y
# CONFIG_SUSPEND is not set
# CONFIG_INPUT is not set
# CONFIG_SERIO is not set
# CONFIG_VT is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_HWMON is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_IOMMU_SUPPORT is not set
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_DEBUG_MEMORY_INIT=y
#CONFIG_DYNAMIC_DEBUG=y
